body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    background-color: #004080;
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 100%;
}

/* criando o rodapé com data e hora*/
